@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 16px;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
}

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #181828;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 480px;
  height: 700px;
  border-radius: 1.5rem;
  padding: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bg-card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  object-fit: cover;
}

.header {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.logo {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 2rem 2rem 0 0;
}

.content {
  position: relative;
  height: 40%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tag {
  width: fit-content;
  border-style: none;
  border-radius: 1rem;
  padding: 0.5rem 0.8rem;
  background-color: #ff099f;
  font-family: "Comfortaa", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  margin-bottom: 1.5rem;
}

.title {
  font-family: "Nunito", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  font-style: bold;
  letter-spacing: 1px;
  color: #fff;
}

.sub-title {
  width: 100%;
  height: auto;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: bold;
  color: #fff;
}

.footer {
  height: auto;
  position: relative;
  margin-top: 2rem;
  font-family: "Nunito", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  font-style: bold;
  color: #ff099f;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.author {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 1.5rem;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 8px;
}

.name {
  font-family: "Comfortaa", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  font-style: bold;
  color: #fff;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 1.5rem;
}

.comments {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 1.5rem;
}

.icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
